/*MOBILE STYLES*/

/*START OF ANDROID STYLES*/
@media screen and (min-width: 320px) and (max-width: 479px) {

	.sub-container{
		min-width: 320px;
		align-items: center;
		align-content: center;
	}

	/*NAVBAR STYLES*/
	#navbar{
		padding: 20px;
		height: 90px;
     	flex-wrap: wrap;
     	overflow: hidden;
	}

	#navbar-logo{
		display: none;
	}

	#navbar-menu-btn{
     	display: block;
     }

     #navbar-anchors{
		width: 100%;
		order: 1;
		margin-top: 20px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s cubic-bezier(0.33, 0.99, 0.76, 1.17);
	}

     .navbar-social{
     	font-size: 18px;
		line-height: 50px;
		width: 50px;
		height: 50px;
		border: 3px solid white;
		margin-left: 30px;
     }

    #nav-facebook:hover{
		color: #49589b;
		border-color: #49589b;
	}

	#nav-behance:hover{
		color: #0056ff;
		border-color: #0056ff;
	}

	#nav-linkedin:hover{
		color: #0083be;
		border-color: #0083be;
	}

	/*NAVBAR SHOWN STYLES*/
     #navbar.mobile{
     	background-color: rgba(0,0,0,0.8);
     	height: 220px;
     }

     #navbar-anchors{
     	flex-direction: column;
     }

     #navbar.mobile #navbar-menu-btn{
		transform: rotate(90deg);
	}

	#navbar.mobile #navbar-anchors{
		opacity: 1;
		visibility: visible;
	}

     /*BANNER STYLES*/
    #banner{
		background-image: url('img/bg-banner-tablet.jpg');
		align-items: center;
		align-content: center;
	}

    #banner-question{
		font-size: 48px;
		line-height: 0.8;
		text-align: center;
	}

	#banner-name{
		font-size: 72px;
		text-align: center;
	}

	#banner-job{
		letter-spacing: 1.7px;
		font-size: 16px;
		text-align: center;
	}

	#banner-contents{
     	margin-left: 0;
     	align-items: center;
		align-content: center;
    }

    #banner-desc{
    	text-align: justify;
     	max-width: 217px;
     	align-self: center;
     	margin-top: 30px;
		font-size: 14px;
    }

    #banner-logo{
		display: none;
	}

	#find-out-here{
		text-align: center;
		border: 2px solid white;
		font-size: 18px;
		width: 170px;
		padding: 10px;
		margin-top: 30px;
		align-self: center;
	}

     /*ABOUT STYLES*/
     #header-about{
     	min-width: 183px;
     }

    #about-me p{
     	text-align: justify;
     }

    #skills{
    	flex-direction: column;
    	align-items: center;
    	align-content: center;
    }

    #skill-circles-container{
     	justify-content: center;
     	align-items: center;
     	align-content: center;
     	max-width: 100%;
    }

    .circle-container{
		height: 80px;
		width: 70px;
	}

	.circle-out{
		height: 70px;
		width: 70px;
	}

	.circle-in{
		height: 60px;
		width: 60px;
	}

	.circle-progress-text{
		font-size: 18px;
		line-height: 60px;
	}

	.circle-title{
		font-size: 14px;
	}

    /*PROJECTS*/
    #projects{
     	align-items: center;
     	align-content: center;
     	padding: 55px;
     	padding-top: 20px;
    }

    #projects-container{
		justify-content: center;
	}

    .project{
     	height: 250px;
     	width: 250px;
     	margin-right: 0;
    }

    .project.wide{
     	height: 250px;
     	width: 250px;
     	margin-right: 0;
    }

    .project.high{
     	height: 250px;
     	width: 250px;
     	margin-right: 0;
    }

    /*CONTACT STYLES*/
    #contact{
     	padding: 20px;
     	align-items: center;
     	align-content: center;
    }

    #mail-container{
     	min-width: 280px;
     	align-items: center;
     	align-content: center;
    }

    #mail-container textarea{
     	width: 200px;
    }

    #mail-details{
     	width: 200px;
     	align-items: center;
     	align-content: center;
     	margin-top: -90px;
    }

    #mail-details input{
     	width: 200px;
    }

    #mail-details input:first-child{
		margin-bottom: 10px;
	}

    #details-container{
     	min-width: 280px;
     	padding: 0;
     	margin: 0;
     	align-items: flex-start;
     	align-content: flex-start;
     	justify-content: flex-start;
    }

    #contact-details span,#contact-details a{
		font-size: 14px;
		color: #D9D9D9;
	}

	#contact-details span i,#contact-details a i{
		margin-right: 10px;
		font-size: 1.5em;
	}

	#copyright{
		text-align: center;
	}

}

/*START OF IOS STYLES*/
@media screen and (min-width: 480px) and (max-width: 767px) {

     /*GENERAL STYLES*/
    .sub-container{
     	width: 100%;
    }

     /*NAVBAR STYLES*/
    #navbar{
     	height: 90px;
     	flex-wrap: wrap;
     	overflow: hidden;
    }

    #navbar-menu-btn{
     	display: block;
    }

    #navbar-anchors{
		width: 100%;
		order: 1;
		margin-top: 20px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s cubic-bezier(0.33, 0.99, 0.76, 1.17);
	}

    .navbar-social{
     	font-size: 18px;
		line-height: 50px;
		width: 50px;
		height: 50px;
		border: 3px solid white;
		margin-left: 30px;
    }

    #nav-facebook:hover{
		color: #49589b;
		border-color: #49589b;
	}

	#nav-behance:hover{
		color: #0056ff;
		border-color: #0056ff;
	}

	#nav-linkedin:hover{
		color: #0083be;
		border-color: #0083be;
	}

	/*NAVBAR SHOWN STYLES*/
	#navbar.mobile{
		background-color: rgba(0,0,0,0.8);
		height: 140px;
	}

	#navbar.mobile #navbar-menu-btn{
		transform: rotate(90deg);
	}

	#navbar.mobile #navbar-anchors{
		opacity: 1;
		visibility: visible;
	}

     /*BANNER STYLES*/
    #banner{
		background-image: url('img/bg-banner-tablet.jpg');
		align-items: center;
		align-content: center;
	}

	#banner-question{
		text-align: center;
		font-size: 72px;
	}

	#banner-name{
		text-align: center;
		font-size: 108px;
	}

	#banner-job{
		text-align: center;
		letter-spacing: 2.5px;
		font-size: 24px;
	}

    #banner-contents{
     	margin-left: 0;
    }

    #banner-desc{
     	margin-top: 30px;
		font-size: 18px;
     	max-width: 400px;
     	align-self: center;
    }

    #banner-logo{
		display: none;
	}

	#find-out-here{
		text-align: center;
		border: 2px solid white;
		font-size: 18px;
		width: 170px;
		padding: 10px;
		margin-top: 40px;
		align-self: center;
	}

	/*ABOUT STYLES*/
	#skill-circles-container{
		max-width: 100%;
	}

	.circle-container{
		height: 200px;
		width: 150px;
	}

	.circle-out{
		height: 150px;
		width: 150px;
	}

	.circle-in{
		height: 140px;
		width: 140px;
	}

	.circle-progress-text{
		line-height: 140px;
	}

    /*PROJECTS*/
    #projects{
		padding: 55px;
	}

	#projects-container{
		justify-content: center;
	}

    .project{
     	height: 360px;
     	width: 360px;
     	margin-right: 0;
    }

    .project.wide{
     	height: 360px;
     	width: 360px;
     	margin-right: 0;
    }

    .project.high{
     	height: 360px;
     	width: 360px;
     	margin-right: 0;
    }

    /*CONTACT STYLES*/
    #contact{
		padding: 40px 55px;
	}

	#mail-container textarea{
		max-width: 300px;
	}

	#mail-details{
		margin-top: -90px;
	}

	#mail-details input{
		width: 300px;
	}

	#mail-details input:first-child{
		margin-bottom: 10px;
	}

	#contact-details span{
		font-size: 16px;
		color: #D9D9D9;
		margin-left: 30px;
	}

	#contact-details span i{
		margin-right: 10px;
		font-size: 1.5em;
	}

    #mail-container{
     	min-width: 400px;
    }

    #details-container{
     	min-width: 400px;
    }
}

/*START OF TABLET STYLES*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /*GENERAL STYLES*/
    .sub-container{
     	width: 100%;
    }

    /*NAVBAR STYLES*/
    #navbar{
     	height: 90px;
     	flex-wrap: wrap;
     	overflow: hidden;
    }

    #navbar-menu-btn{
     	display: block;
    }

    #navbar-logo{
    	max-height: 70px;
    	margin-left: 30px;
    }

    #navbar-anchors{
		width: 100%;
		order: 1;
		margin-top: 20px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s cubic-bezier(0.33, 0.99, 0.76, 1.17);
	}

    .navbar-social{
     	font-size: 18px;
		line-height: 50px;
		width: 50px;
		height: 50px;
		border: 3px solid white;
		margin-left: 30px;
    }

    #nav-facebook:hover{
		color: #49589b;
		border-color: #49589b;
	}

	#nav-behance:hover{
		color: #0056ff;
		border-color: #0056ff;
	}

	#nav-linkedin:hover{
		color: #0083be;
		border-color: #0083be;
	}

	/*NAVBAR SHOWN STYLES*/
	#navbar.mobile{
		background-color: rgba(0,0,0,0.8);
		height: 140px;
	}

	#navbar.mobile #navbar-menu-btn{
		transform: rotate(90deg);
	}

	#navbar.mobile #navbar-anchors{
		opacity: 1;
		visibility: visible;
	}

	/*BANNER STYLES*/
	#banner{
		background-image: url('img/bg-banner-tablet.jpg');
		align-items: center;
		align-content: center;
	}

	#banner-contents{
		align-items: center;
	}

	#banner-question{
		text-align: center;
		font-size: 72px;
	}

	#banner-name{
		text-align: center;
		font-size: 108px;
	}

	#banner-job{
		text-align: center;
		letter-spacing: 2.5px;
		font-size: 24px;
	}

	#banner-desc{
		text-align: center;
		margin-top: 30px;
		font-size: 18px;
	}

	#find-out-here{
		text-align: center;
		border: 2px solid white;
		font-size: 18px;
		width: 170px;
		padding: 10px;
		margin-top: 40px;
		align-self: center;
	}

	/*ABOUT STYLES*/

	#skill-circles-container{
		max-width: 100%;
	}

	.circle-container{
		height: 200px;
		width: 150px;
	}

	.circle-out{
		height: 150px;
		width: 150px;
	}

	.circle-in{
		height: 140px;
		width: 140px;
	}

	.circle-progress-text{
		line-height: 140px;
	}

	/*PROJECT STYLES*/
	#projects{
		padding: 55px;
	}

	#projects-container{
		justify-content: center;
	}

	.project{
		height: 305px;
		width: 305px;
	}

	.project.wide{
		height: 305px;
		width: 305px;
	}

	.project.high{
		height: 305px;
		width: 620px;
	}

	/*CONTACT STYLES*/
	#contact{
		padding: 40px 55px;
	}

	#mail-container textarea{
		max-width: 300px;
	}

	#mail-details{
		margin-top: -90px;
	}

	#mail-details input{
		width: 300px;
	}

	#mail-details input:first-child{
		margin-bottom: 10px;
	}

	#contact-details span{
		font-size: 16px;
		color: #D9D9D9;
		margin-left: 30px;
	}

	#contact-details span i{
		margin-right: 10px;
		font-size: 1.5em;
	}
}